@model MilasDGaz.Models.Contact
@{
    ViewBag.Title = "Mesaj Ekle";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<br />
<h3>Mesaj Ekle</h3>
<br />
<form method="post">
    <label>İsim</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />

    <label>Telefon</label>
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    <br />
    
    <label>Konu</label>
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    <label>Mesaj</label>
    @Html.TextAreaFor(x => x.Message, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Ekle</button>
</form>

