
@*<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h6 class="text-secondary text-uppercase">Testimonial</h6>
            <h1 class="mb-5">Our Clients Say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
               
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="~/Template/Plumberz/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Client Name</h5>
                <p class="m-0">Profession</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="~/Template/Plumberz/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Client Name</h5>
                <p class="m-0">Profession</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="~/Template/Plumberz/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Client Name</h5>
                <p class="m-0">Profession</p>
            </div>
            <div class="testimonial-item text-center">
                <div class="testimonial-text bg-light text-center p-4 mb-4">
                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
                </div>
                <img class="bg-light rounded-circle p-2 mx-auto mb-2" src="~/Template/Plumberz/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                <div class="mb-2">
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                    <small class="fa fa-star text-secondary"></small>
                </div>
                <h5 class="mb-1">Client Name</h5>
                <p class="m-0">Profession</p>
            </div>
        </div>
    </div>
</div>*@

@Html.Action("Testimonial","Default")