<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">İŞLEMLER</div>
            <a class="nav-link" href="/Default/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-user"></i></div>
                Siteye Git
            </a>
            Kategoriler
            </a>
            <a class="nav-link" href="/Admin/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-diagram-project"></i></div>
                Hakkımızda
            </a>
            <a class="nav-link" href="/AdminUs/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-address-book"></i></div>
                İletişim Bilgilerimiz
            </a>
            <a class="nav-link" href="/AdminService/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-gallery-thumbnails"></i></div>
                Servisler Galeri
            </a>
            <a class="nav-link" href="/AdminExperience/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-school"></i></div>
                Hizmetler/Deneyimler
            </a>
            @*<a class="nav-link" href="/Feature/Index">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-star"></i></div>
            Müşteri Yorumları
        </a>*@
            <a class="nav-link" href="/AdminContact/Index">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-envelope"></i></div>
                Mesajlar
            </a>
            <a class="nav-link" href="/AdminBooking/Index">
                <div class="sb-nav-link-icon"><i class="fa-brands fa-wpforms"></i></div>
                Randevu Talepleri
            </a>
            @*<a class="nav-link" href="/Skill/Index">
            <div class="sb-nav-link-icon"><i class="fa-solid fa-kitchen-set"></i></div>
            Yetenekler
        </a>*@
            @*<a class="nav-link" href="/AdminSocialMedia/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-hashtag"></i></div>
                Sosyal Medya
            </a>*@
            <a class="nav-link" href="/AdminTeam/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-people-group"></i></div>
                Takım
            </a>
            <a class="nav-link" href="/AdminTestimonial/Index">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-thumbs-up"></i></div>
                Müşteri Yorumları/Referanslar
            </a>
        </div>
    </div>
    @*<div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>*@
</nav>


