@model MilasDGaz.Models.State
@{
    ViewBag.Title = "UpdateState";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<br />
<h3>Güncelle</h3>
<br />
<form method="post" enctype="multipart/form-data">
    @Html.HiddenFor(x => x.Id, new { @class = "form-control" })

    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />

    <label>Değer</label>
    @Html.TextBoxFor(x => x.Value, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

